.navbar_container{
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_left{
    font-size: 30px;
    font-weight: 700;
    color:hotpink;
}
.navbar_right{
    display: flex;
}
.navbar_right>p{
    margin-right: 10px;
    padding: 8px 10px;
    font-size: 12px;
    font-size: 20px;
}
.navbar_right>p:hover{
    background-color: hotpink;
    cursor: pointer;
    border-radius: 8px;
}